
html,
body {
  background: #000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 200vh;
  font-family: "Neue Montreal";
  overflow: hidden;
  overflow-y: scroll;
  /* background: #000000; */

}

.wrapper {
  width: 100%;
  height: 100vh; background: #000; /*
  background-image: url(./images/img-22.jpg); */
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  box-shadow: inset 0px -20px 17px #000000;

}

.card-container {
  position: relative;
  /*  transform: scale(0.5); */
  /*  background: #D9C0C0; */
  /*  background-image:url(./images/img-2.jpg); * /
  background-size: cover;
  background-position: center; */
  background: transparent;
  width: 100vw;
  height: 100vh;
  transition: all 0.2s ease-out;
  box-shadow: inset 0px -70px 100px #000;

}

h1 {
  color: #fff;
  background: transparent;
}


.plus-one:hover {
  transform: rotate(90deg);
}

.plus-icon {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px;
  font-size: 20px;
  z-index: 2;
  transition: 1s;
  color: gray;
}




.plus-icon:hover {
  background: #00FF9E;
  transform: rotate(45deg);
}

em {
 transform: rotate(-90deg);
}

.card-icon {
  position: absolute;
  top: 50%;
  left: 40%;
  /*  left: 50%; */
  text-align: center;
  /* background-image:url(./images/img-2.jpg); */
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.3px;
  background-position: center;
  transform: translate(-50%, -50%);
  /* box-shadow: inset 0 0 200px 30px #000; */
  transition: all 0.2s ease-out;
  font-size: 50px;
  width: 260px;
  height: 260px;
  z-index: 2;
  border-radius: 100%;
}

sp {
  -webkit-text-fill-color: white;
  position: absolute;
  mix-blend-mode: difference;
  z-index: 1;
}

.preview-text {
  bottom: 0;
  left: 0;
  padding: 30px;
  font-size: 20px;
  color: gray;
}

.card-circle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background: #fff;
  transition: 0.3s;
}

.card-container:hover {
  /*  background: #D9C0C0; */
  /*  transform: scale(1); */
  background-image: url(./images/img-22.jpg);
  box-shadow: inset 0px -70px 100px #000;
  background-size: cover;
  color: #fff;
  transition: all 0.2s ease-out;
  background-position: center;
}

.card-container:hover .preview-text,
.card-container:hover .plus-icon {
  color: #fff;
}

.card-container:hover .plus-icon {
  transform: rotate(90deg);
}

.card-container:hover .card-icon {
  display: none;
}

.card-container:hover .card-circle {
  transform: translate(-50%, -50%) scale(1);
}

.text-wrapper {
  position: absolute;
  top: 40%;
  left: -20%;
  transform: translate(0, -50%);
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.1s ease-out;
  animation: float-text 40s linear infinite;
  animation-delay: 0.3s;
  z-index: 1;
  /* border-top: 4px solid #fff;
  border-bottom: 4px solid #fff; */
  opacity: 0;
  padding: 20px 0;
  mix-blend-mode: difference;
}

@keyframes float-text {
  0% {
    left: -20%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -20%;
  }
}

.card-container:hover .text-wrapper {
  opacity: 1;
}

.parent {
  position: relative;
  /* This is necessary to make the child element absolutely positioned with respect to the parent */
  width: 100%;
  height: 50vh;
  box-shadow: inset 10px 10px 50px 70px #000;
  background-size:cover;
  display: flex;
  background-image: url('istockphoto-1278839875-612x612.jpg');
  justify-content: center;
  box-shadow: 5px -70px 100px #000;
}

.parent:before {
    box-shadow: 5px -70px 100px #000;
}

#vd1 {
  position: absolute;
  top: 0%;
  display: flex;
  justify-items: center;
  align-items: center ;
}

.child {
  position: absolute;
  /* This positions the child element absolutely with respect to the parent */
  z-index: 1;
  /* This puts the child element above the parent element in the stacking order */
  /* This moves the child element upwards by 50px */
  left: 0;
  right: 0;
  height: 20vh;
  padding: 20px;
  display: flex;
  justify-items: center;
  align-items: center ;
  
}

.child:nth-of-type(1) {
  background: transparent;
  top: -100vh;
}

.child:nth-of-type(2) {
  background: transparent;
  top: -30vh;
}


.look {
  width: 100vw;
  background: #54425A;
 min-height :20vh;
 display: grid;
  place-items: center;
}


@media(max-width: 2000px) {

h1 {
  color: #fff;
  font-size: 100px;
  background: transparent;
  margin-top: -10vh;
}


.plus-one {
  position: absolute;
  padding: 80px 85px;
  font-size: 60px;
  z-index: 1;
  transition: 1s;
  color: #FFFFFF;
  bottom: 40vh;
  border: 2px solid #FFFFFF;
  margin-left:8vh;
  border-radius: 100%;
  mix-blend-mode: difference;
}

.text {
  margin-right: -20vw;
  font-size: 55px;
  text-align: right;
}


}

@media(max-width: 900px) {

h1 {
  color: #fff;
  font-size: 70px;
  background: transparent;
}



.plus-one {
  position: absolute;
  padding: 7px 10px;
  font-size: 30px;
  z-index: 1;
  transition: 1s;
  color: #FFFFFF;
  bottom: 5vh;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  right:5vh;
  mix-blend-mode: difference;
}

.text {
  color: #fff;
  font-size: 20px;
  margin-top:10vh;
  text-align: left;
  max-width:20px;
  margin-left:10px;
  left: 0;
  position :absolute ;
}
}
